<!DOCTYPE html>
<html>
    <head>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/styleSheet.css" rel="stylesheet">

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkPsk91hp6mlP4ORDFS1Kfi6_orHhgSKM&callback=initMap"></script>

        <title>Geolocation Web App</title>
    </head>


    <!-- Layout di pagina ------------------------------------------------------->

    <body>
        <div id="pag1"><br>

            <div><br><br><br>
                <h1>Gps</h1><br>

                <input id="longitude" type="text" placeholder="Longitude"><br><br>
                <input id="latitude" type="text" placeholder="Latitude"><br><br>
                <button id="inviaCoordinate">Invia</button><br><br>
            </div>
            <div id="googleMap" style="width:500px;height:380px;"></div><br><br>
            <h1>Coordinate:</h1><br><br>
            <div id="campoTextPositions">
            </div><br><br>
        </div>

        <!-- Sezione Template ----------------------------------------------------->
        <!-- quando saranno un numero sufficinte evidenziamo -->

        <script id="aProductTemplate" type="text/x-jquery-tmpl">

        </script>

        <!-- fine Sezione Template ------------------------------------------------>


        <!--  sezione script javascript  ------------------------------------------>

        <script src="/static/js/jquery-2.2.3.min.js"></script>
        <script src="/static/js/jquery.tmpl.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/app.js"></script>
    </body>
</html>